<div class="profile-wrapper">

    <div class="profilebanner-wrapper">
        <h1>Welcome ! <%= firstname %> <%= lastname %> !</h1>
    </div>

    <% if(isadmin) { %>
        <% include adminprofile.ejs %>
            <% } %>
</div>
