<div class="profile-wrapper">

    <div class="profilebanner-wrapper" style="background-image: url(<%- profilebanner %>)">
        <img class="facepic" src="<%- profilepic %>">
        <h1>Welcome ! <%= firstname %>
            <%= lastname %> !</h1>
    </div>

    <% if(isadmin) { %>
        <% include adminprofile.ejs %>
            <% } %>
</div>
