/*html {
  background: url('https://i.giphy.com/v2xIous7mnEYg.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
/*}*/

.facepic {
  position: relative;
  border-radius: 50%;
  border: 8px white solid;
  height: 168px;
  width: 168px;
  left: -80px;
}

.dropbtn {
    background-color: #e9ebee;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#options {
  width: 10px;
  height: 10px;
  margin: 0 auto;
  align-content: center;
}

.dropdown-content {
    display: none;
    position: relative;
    /*background-color: #f9f9f9;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
    right: 0;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}

body {
  /*background-color: rgba(204, 177, 97, 0.14);*/
  background-color: #e9ebee;
  padding-right: 120px;
  padding-left: 30px;
  margin: 0;
}

nav {
  width: 100%;
  border-bottom: 1px solid black;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: block;
}

nav div a {
  text-decoration: none;
  color: black;
  overflow: hidden;
}

nav div {
  display: inline-block;
}

.logincontent {
  display: inline-block;
  float: left;
  width: 600px;
  height: 557px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.logincontentimage img {
  margin: 0 auto;
  border-radius: 10px;
}

.signup-container {
  font-family: sans-serif;
  float: right;
  width: 400px;
  height: 557px;
  background-color: rgba(117, 111, 111, 0.77);
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.logindiv {
  width: 392px;
  height: 65px;
}

.signuplines {
  width: 399px;
  height: 49px;
}

.firstnamesignup {
  display: inline-block;
  float: left;
}

.lastnamesignup {
  display: inline-block;
  float: right;
}

.createfields {
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
}

.buttonsignup {
  min-width: 194px;
  font-size: 28px;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.errorsignup {
  color: red;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

button[type="submit"]:hover {
    background: #30D992;
    animation-name: shake;
}

.animated {
    animation-fill-mode: both;
    animation-duration: 1s;
}

.homepagewrapper {
  width: 100%;
  height: 100%;
}

.profile-wrapper{
  width: 50%;
  margin: 0 auto;
}

.articlefields {
  background-color: white;
  margin: 0;
  width: 100%;
  font-size: 15px;
}

.profilebanner-wrapper {
  background-image: url();
  background-color: rgba(152, 88, 20, 0.65);
  min-height: 100px;
  height: 180px;
  background: no-repeat center center fixed;
  background-size: cover;
}

.profiletextarea{
  width: 100%;
  height: 150px;
  resize: none;
}

.new-article-wrapper {
  background-color: grey;
}
.singlearticle {
  background-color: rgba(187, 184, 184, 0.47);
  margin-top: 20px;
  margin-bottom: 20px;
}

.headers {
  background-color: white;
  font-size: 28px;
}

.newsfeed {
  width: 40%;
  margin: 0 auto;
}

.articleimage {
  height: 300px;
}

.deletepost {
  position: relative;

}

.navlogo {
  font-size: 38px;
  font-family: 'Times New Roman', 'Georgia', 'Serif';
}

.comentbox {
background-color: #f6f7f9;
padding: 5px;
}

.comentinput {
  width: 100%;
  font-size: 14px;
}

.profilelink{
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

.profileeditwrapper{
  width: 50%;
  margin: 0 auto;
  margin-top: 8%;
  font-family: sans-serif;
}

.editfield{
  text-align: center;
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.editfields {
  background-color: white;
  margin: 0;
  width: 100%;
  font-size: 28px;
}

.updatebutton {
  border-radius: 20px;
}

.profilepicform {
  font-size: 28px;
  font-family: sans-serif;
}
