<nav>
    <div>
        <h1 class="navlogo"><a href="/">The Straits Times</a></h1>
    </div>
    <div style="float:right" class="logindiv">
        <form action="/login" method="POST">
            <table>
                <tbody>
                    <tr>
                        <td><label></label></td>
                        <td><label></label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <h3 id="profile"><a href="/profile">Profile</a></h3></div>
                        </td>
                        <td>
                            <div>
                                <%# <button class="dropbtn">Messages</button>%>
                                    <h3 id="message">Messages</h3></div>
                        </td>
                        <td>
                            <div class="dropdown">
                                <img src="https://image.flaticon.com/icons/png/512/60/60995.png" id="options">
                                <%# <h3 id="setting">Options</h3>%>
                                    <div class="dropdown-content">
                                        <a href="/editprofilepage">Edit Profile</a>
                                        <a href="/logout">Logout</a>
                                    </div>
                        </td>
                        </div>
                        <%# <h3 id="setting">Options</h3></td>%>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h4>
                            <%= date %>
                          </h4></td>
                        <td>

                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</nav>
