<nav>
    <div>
        <h1 class="navlogo"><a href="/">The Straits Times</a></h1>
    </div>
    <div style="float:right" class="logindiv">
        <form action="/login" method="POST">
            <table>
                <tbody>
                    <tr>
                        <td><label for="emaillogin">Email</label></td>
                        <td><label for="passwordinput">Password</label></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><input id="emaillogin" type="text" name="email"></td>
                        <td><input id="passwordinput" type="password" name="password"></td>
                        <td><button type="submit">Login</button></td>
                    </tr>
                    <tr>
                        <td>login error message</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</nav>
