<div class='homepagewrapper'>
    <div class="newsfeed">
        <% articles.forEach(function(news){ %>

            <div class="singlearticle">
                <form method="POST" action="/<%-news.id%>?_method=DELETE">
                    <div>
                        <% if(news.image) { %>
                            <img src="<%- news.image %>" class="articlefields articleimage">
                            <% } %>
                    </div>
                    <div>
                        <h2 class="articlefields headers"><%- news.header %></h2>
                    </div>
                    <div>
                        <p class="articlefields">
                            <%- news.content.replace(/\r\n/g, "<br>") %>
                        </p>
                    </div>
                </form>
            </div>
            <% }) %>

                <form action='/logout' method='GET'>
                    <button type='submit'>Logout</button>
                </form>
    </div>
</div>
